{% extends 'admin/base_site.html' %}

{% load static %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/main.css' %}">
{% endblock %}

{% block extrahead %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/Apophis.png' %}">
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {% comment %}{{ site_header|default:_('Django administration') }}{% endcomment %}
            پنل مدیریت
        </a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}