{% load static %}
<script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<!-- Vendors -->
<script src="{% static 'vendor/tiny-slider/tiny-slider-rtl.js' %}"></script>
<script src="{% static 'vendor/sticky-js/sticky.min.js' %}"></script>
<script src="{% static 'vendor/plyr/plyr.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.js' %}"></script>
<script src="{% static 'vendor/purecounterjs/dist/purecounter_vanilla.js' %}"></script>
<!-- Template Functions -->
<script src="{% static 'js/functions.js' %}"></script>